flows.json
[{"id":"f79aab99.1c0038","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"8d1fc633.e60168","type":"ui_group","z":"","name":"Indicador de Flujo","tab":"47fd56cf.9c7188","order":1,"disp":true,"width":"6","collapse":true},{"id":"f9a68706.4e0908","type":"ui_group","z":"","name":"Grafica","tab":"47fd56cf.9c7188","order":2,"disp":true,"width":"6","collapse":false},{"id":"fa99791c.456b18","type":"ui_group","z":"","name":"Tabla de Datos","tab":"47fd56cf.9c7188","order":3,"disp":true,"width":"18","collapse":false},{"id":"b3bd5c18.0b2df","type":"ui_group","z":"","name":"Dashboard General","tab":"e7a5ebc9.4c82f8","order":1,"disp":true,"width":"18","collapse":false},{"id":"47fd56cf.9c7188","type":"ui_tab","z":"","name":"Molino 1","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"e7a5ebc9.4c82f8","type":"ui_tab","z":"","name":"Menu Principal","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"4723b206.5076fc","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"de4eeb87.06a0f8","type":"ui_gauge","z":"f79aab99.1c0038","name":"Medicion de turbina","group":"8d1fc633.e60168","order":3,"width":0,"height":0,"gtype":"wave","title":"","label":"ml","format":"{{value}}","min":0,"max":"5000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":610,"y":160,"wires":[]},{"id":"bdea4108.44d0c","type":"ui_chart","z":"f79aab99.1c0038","name":"Historial de ventas por día","group":"f9a68706.4e0908","order":1,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"10000","removeOlder":1,"removeOlderPoints":"2000","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":630,"y":200,"wires":[[]]},{"id":"881fa5d7.ee5d98","type":"inject","z":"f79aab99.1c0038","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":420,"wires":[["a75687f.f6b7878"]]},{"id":"a75687f.f6b7878","type":"function","z":"f79aab99.1c0038","name":"Obtener acumulador","func":"var count = flow.get('count');\nmsg.payload = count;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":420,"wires":[[]]},{"id":"d1d12ea7.a5734","type":"inject","z":"f79aab99.1c0038","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":80,"wires":[["4c04352f.f437ec"]]},{"id":"4c04352f.f437ec","type":"function","z":"f79aab99.1c0038","name":"","func":"flow.set('acc',0);\nflow.set('x',0);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":80,"wires":[[]]},{"id":"8d578701.63eda8","type":"http in","z":"f79aab99.1c0038","name":"Flow POST Endpoint","url":"/flow","method":"post","upload":false,"swaggerDoc":"","x":110,"y":160,"wires":[["8f1944c0.13dda8","88f4692f.fa0118","35385acf.091926"]]},{"id":"8f1944c0.13dda8","type":"debug","z":"f79aab99.1c0038","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":330,"y":200,"wires":[]},{"id":"a2fc8b6d.0cb498","type":"http in","z":"f79aab99.1c0038","name":"Flow GET Endpoint","url":"/flow","method":"get","upload":false,"swaggerDoc":"","x":90,"y":360,"wires":[["7f84a88e.14c008","dfc96498.158068"]]},{"id":"7f84a88e.14c008","type":"debug","z":"f79aab99.1c0038","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":470,"y":340,"wires":[]},{"id":"1a304fca.513e8","type":"http request","z":"f79aab99.1c0038","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://optimotioniot.herokuapp.com/alive","tls":"","persist":false,"proxy":"","authType":"","x":290,"y":500,"wires":[["fdf0492c.a97ea8"]]},{"id":"71938451.4e378c","type":"inject","z":"f79aab99.1c0038","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"300","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":90,"y":500,"wires":[["1a304fca.513e8"]]},{"id":"fdf0492c.a97ea8","type":"debug","z":"f79aab99.1c0038","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":530,"y":500,"wires":[]},{"id":"89164c0b.6278a","type":"http in","z":"f79aab99.1c0038","name":"","url":"/alive","method":"get","upload":false,"swaggerDoc":"","x":80,"y":560,"wires":[["ed4b9b33.6dfce8"]]},{"id":"ed4b9b33.6dfce8","type":"http response","z":"f79aab99.1c0038","name":"","statusCode":"200","headers":{"hey":"alive"},"x":300,"y":560,"wires":[]},{"id":"9bb21d34.5e0cf","type":"ui_table","z":"f79aab99.1c0038","group":"fa99791c.456b18","name":"Tabla General","order":1,"width":0,"height":0,"columns":[{"field":"#","title":"#","width":"","align":"left","formatter":"rownum","formatterParams":{"target":"_blank"}},{"field":"Fecha y Hora","title":"Fecha y Hora","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"Ventas Reportadas","title":"Valor de Flujo","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":900,"y":460,"wires":[]},{"id":"dfc96498.158068","type":"http response","z":"f79aab99.1c0038","name":"","statusCode":"200","headers":{"status":"OK"},"x":460,"y":380,"wires":[]},{"id":"88f4692f.fa0118","type":"http response","z":"f79aab99.1c0038","name":"","statusCode":"200","headers":{"status":"OK"},"x":240,"y":280,"wires":[]},{"id":"35385acf.091926","type":"function","z":"f79aab99.1c0038","name":"Payload to number","func":"let value = parseInt(msg.payload.sales_qty);\nlet acc = flow.get('acc');\nacc += value;\nflow.set('acc',acc);\nmsg.payload = value;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":160,"wires":[["de4eeb87.06a0f8","bdea4108.44d0c","6bc31075.356a3"]]},{"id":"d9b2e8ed.c86368","type":"ui_text","z":"f79aab99.1c0038","group":"8d1fc633.e60168","order":2,"width":0,"height":0,"name":"","label":"<font size = 6>Venta mas Reciente","format":"{{msg.payload}}","layout":"col-center","x":640,"y":120,"wires":[]},{"id":"d951e548.85c5f8","type":"ui_chart","z":"f79aab99.1c0038","name":"","group":"b3bd5c18.0b2df","order":1,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":510,"y":640,"wires":[[]]},{"id":"4b1612c7.c674fc","type":"inject","z":"f79aab99.1c0038","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":640,"wires":[["3b0cba15.f09ad6"]]},{"id":"3b0cba15.f09ad6","type":"function","z":"f79aab99.1c0038","name":"","func":"let offsetY = 360;\nlet xs = flow.get('x');\nlet step = 10;\nxs = xs +10;\ny = Math.sin( xs / 50 ) * 100 + offsetY;\nflow.set('x',xs);\nmsg.payload = y;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":640,"wires":[["d951e548.85c5f8"]]},{"id":"86ceebbb.d58448","type":"ui_ui_control","z":"f79aab99.1c0038","name":"","events":"change","x":860,"y":400,"wires":[[]]},{"id":"2057fd3c.2756f2","type":"e-mail","z":"f79aab99.1c0038","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"gguereque4@gmail.com,fernando.aviles@pefsystem.com.mx","dname":"","x":900,"y":280,"wires":[]},{"id":"6bc31075.356a3","type":"function","z":"f79aab99.1c0038","name":"","func":"\nif(msg.payload >= 20 && msg.payload < 300){\n    msg.topic = \"Venta de Galón MOLINO REVOLUCION\";\n    msg.payload = \"Se ha efectuado venta de: Galon, con valor de MXP $3.00\";\n}\nelse if(msg.payload >= 300){\n   msg.topic = \"Venta de Garrafón MOLINO REVOLUCION\";\n   msg.payload = \"Se ha efectuado venta de: Garrafón, con valor de MXP $10.00\"; \n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":280,"wires":[["2057fd3c.2756f2","3aa3bcd5.8e3704"]]},{"id":"3aa3bcd5.8e3704","type":"debug","z":"f79aab99.1c0038","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":710,"y":400,"wires":[]}]
